# Database Configuration
DATABASE_URL=postgresql://postgres:ipm55F1mMRNv9LfV@db.tusmvasndrlskfxncxzi.supabase.co:5432/postgres

# MOAP Configuration (for LSL script)
HUD_URL=https://your-hud-url.com
API_URL=https://your-api-url.com
